.Filter {
  padding: 20px 45px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -45px;
  position: relative;
  z-index: 10;

  &-tags {
    ul {
      display: flex;
      gap: 16px;
      list-style: none;
      padding-inline-start: 0;
    }
  }

  &-resetWrapper {
    button {
      background: none;
      border: none;
      color: #45aa9c;
      text-decoration: underline;
      cursor: pointer;
      font-weight: 700;
    }
  }
}

.Filter-bg {
  background-color: #f0fafb;
}
